.feature {
	width: 100%;
	padding: 40px;
}
.featuretitle {
	text-align: center;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 70px;
	letter-spacing: 0.15em;
	text-transform: capitalize;
	color: #000000;
	margin-bottom: 50px;
}
.featurespan {
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 70px;
	letter-spacing: 0.15em;
	text-transform: capitalize;
	color: #7b31f4;
}
.parent {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.feat {
	width: 406px;
	height: 200px;
}
.feat img {
	width: 100%;
	height: 100%;
}
